---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Daniel Gomez" description="About Daniel Gomez Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a molecular biomedical scientist focused on structural biology, collecting data and structure 
						solution of particular molecular nanomachine (MNM), <a href="https://www.researchgate.net/publication/365993554_Structural_Predictions_of_HPgV-1_NS5B">NS5B</a>.
						Currently, I am studying structural molecular biology, biotechnology, and virophysics. My graduate 
						thesis is on the structure-based discovery of this MNM and nanomotor. the replication complex (RC) 
						in a replication organlle (RO) of the rare Flavivirus Human pegivirus-1 (HPgV-1) and solving structure 
						and molecular biophysical questions surrounding the RNA-dependent RNA polymerase (RdRp). 
					</p>
					<p>
						I have been researching neuroimmunopharmacology in neurodegeneration (neurology & neurosurgery) since 2012, 
						and in 2022 began researching neurosurgical oncology. This year (2023), I began neuroendovascular surgery (NES), 
						aneurysm subarchinoid hemorrhage (aSAH) healing, bioengineered drug eluting neuro-endovascular devices, robotics,
						and artificial intelligence. See our Planned paper in <i>Bioengineering</i> <a href="https://www.mdpi.com/journal/bioengineering/special_issues/INU8356U80">AI in surgery</a>. 
					</p>
					<p>
						I have taken a liking to data-driven discoveries of AI in Neurosurgery, Computation and Neural Systems (CNS), 
						Bioimage Informatics, and blending the CSBs: Computational Structural Biology / Complex Biological Systems. 
						My inventiveness advances SDS systems and standardizes SDS ontology. I advocate for interoperability, 
						organizes data storage, and facilitates distribution/exchange. I plan on making data annotation more efficient 
						and improving the quality of annotated data sets. These are some of the key initatives and current challenges of SDS.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h4>MS, 2022-2024</h4>
					<p>California State University, East Bay<br>
					University of California, San Francisco<br>
					SSRL, SLAC National Acceleratory Laboratory, Stanford University</p>
					<h4>BS, 2022</h4>
					<p>San Francisco State University<br>
					John A. Burns School of Medicine<br>
					Johns Hopkins University School of Medicine<br>  
					University of Hawaii at Mānoa</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h4>dry lab</h4>
					<p>bioinformatics</p>
					<ul>
					    <li>Statistical Skills.</li>
				 	    <li>Programming Skills.</li>
					    <li>General Biology Knowledge.</li>
					    <li>Knowledge of Genomics and Genetics.</li>
					    <li>Database Management.</li>
				 	    <li>Data Mining and Machine Learning.</li>
					    <li>Data Science and Engineering</li>
					    <li>AI applications, Large language models (LLM)</li>
					</ul>
					<br>
					<h4>wet lab</h4>
					<p>molecular, tissue, and organ techniques</p>
					<ul>
						<li>Basic Lab & Safety (GMP, BBP, IRB)</li>
						<li>Phlebotomy (winged needle collection)</li>
						<li>Cell viability assays</li>
						<li>Funcational assay design</li>
						<li>BBB <i>in vitro</i> models</li>
						<li>Cell culture (co-cultures): Mammalian (primary), prokaryotes and yeast</li>
						<li>Growth Curves, Crystal Violet staining, MTT/MTS assay</li>
						<li>DNA/RNA extraction</li>
						<li>PCR, RT-qPCR, Sequencing (NGS), & Fragment Analysis</li>
						<li>Gel Electrophoresis, Tapestation, Sonication</li>
						<li>Tissue (in situ) experiments (immunohistochemistry, in situ hybridization)</li>
						<li>Surgical methods <i> in toto </i> whole animal to organ isolation <i>ex vivo</i></li>			
						<li>Functinoal Genomics: Primer Design, Plasmid Miniprep</li>
						<li>Site-Directed Mutagenesis (SDM)</li>
						<li>Gibson Assembly</li>
					</ul>
				
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
