---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Biomedical ML Engineer</h2>
		<p>Description and prediction, benchmarking, understanding. Modeling for Complex Datasets. 
		Model Simplicity and Complexity. <br>
		ML in Neuroscince: Neural Decoding & Encoding.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Structural and Computational Biologist and Biophysics</h2>
		<p>Gaining experience in a wide variety of experimental approaches ranging from macromolecular X-ray 
		(MX/MC/XRD) crystallography, Cryo-electron microscopy, electron tomography techiques for examining and
		determining molecular structures, to computational techniques as they apply to nucleic acid and protein
		structures, bioinformatics, genomics and systems biology including molecular dynamics, machine learning, 
		and network analysis. </p>
		
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Industry Leader & Strategy-Minded</h2>
		<p>Integrity, self-awareness, courage, respect, empathy, and graditude.
		Effective strategic planner and manager. Loyal audience. Innovative. 
		Strong operational execution.</p>
		
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
